body{

background-color: skyblue;

font-family: 'Nanum Pen Script', cursive;

text-align: center;

font-size: 30px;


}

h1{

font-size:60px;

font-weight: 800;

color:Black;

margin-top: 30px;

}

a{
  font-size: 30px;

  font-weight: lighter;

  margin-top: 30px;
}


h2{

font-size:40px;

font-weight: 800;

color:Black;

margin-top: 30px;

}
